* {
    padding: 0;
    margin: 0;
    list-style: none
}

.mainPage {
    width: 95%;
    margin: 0 auto;
    padding-top: 46px;
}


@import '//at.alicdn.com/t/font_1727471_oywu8enbqca.css';

.iconfont {
    font-size: 20px
}

@import './normalize.css'